---
layout: _base-layout.ejs
---

<div id="project-container" class="container masonry-grid">
    <div class="masonry-grid-sizer"></div>
    <% for ( let i = 0; i < projects.length; i++ ){ %>
        <% if (!categories.includes(projects[i].category)) continue; %>
        <% let projectPreviewUrl = projects[i].projectPreviewUrl || "/project/" + projects[i].slug; %>
        <div id="<%- projects[i].slug %>" class="preview-img-container masonry-grid-item filterDiv <%- projects[i].category %>">
            <div class="preview-img">
                <a href="<%= projectPreviewUrl %>">
                    <% if (projects[i].previewImgUrl.endsWith(".mp4")) { %>
                        <video autoplay loop class="preview-img-content">
                            <source src="<%- projects[i].previewImgUrl %>" type="video/mp4">
                        </video>
                    <% } else { %> 
                        <img class="preview-img-content" src="<%- projects[i].previewImgUrl %>" />
                    <% } %>
                </a>
            </div>
        </div>
    <% } %>
</div>

<script src="/js/masonry-init.js"></script>

