---
layout: _base-layout.ejs
---

<div class="container navbar-expand-md">
    <button class="btn toggle-filter-btn" data-toggle="collapse" data-target="#toggleFilters" aria-controls="toggleFilters" aria-expanded="false" aria-label="Toggle filters">
        show/hide filters
    </button>
    <div id="toggleFilters" class="collapse navbar-collapse col-sm">
        <a class="btn <%= categoryLink === 'illustration' ? 'active': '' %>" href="/illustration">illustration</a>
        <a class="btn  <%= categoryLink === 'interactives' ? 'active': '' %>" href="/interactives">interactives</a>
        <!--<a class="btn <%= categoryLink === 'comics-animation' ? 'active': '' %>" href="/comics-animation">comics & animation</a>
        <a class="btn  <%= categoryLink === 'fine-art' ? 'active': '' %>" href="/fine-art">fine art</a>-->
    </div>
</div>

<div id="project-container" class="container masonry-grid">
    <div class="masonry-grid-sizer"></div>
    <% for ( let i = 0; i < projects.length; i++ ){ %>
        <% if (!categories.includes(projects[i].category)) continue; %>
        <% let projectPreviewUrl = projects[i].projectPreviewUrl || "/project/" + projects[i].slug; %>
        <div id="<%- projects[i].slug %>" class="preview-img-container masonry-grid-item filterDiv <%- projects[i].category %>">
            <div class="preview-img">
                <a href="<%= projectPreviewUrl %>">
                    <img class="preview-img-png" src="<%- projects[i].previewImgUrl %>" />
                    <!--<div class="img-overlay"></div>-->
                </a>
            </div>
        </div>
    <% } %>
</div>

<script src="/js/masonry-init.js"></script>

