---
layout: _base-layout.ejs
pagination:
    data: projects
    size: 1
    alias: project
permalink: "project/{{ project.slug }}/index.html"
title: SophiaCeleste - project.title
page_css: project-preview.css
---
<div class="project-preview-container container">

    
    <div class='back-link-container'>
        <button class="back-link" onClick="window.history.back()">
            <svg class="back-link-icon" width="40" height="40" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"/></svg>
        </button>
    </div>
    

    <% let hasProjectPreviewSettings = typeof project.projectPreview !== 'undefined'; %>
    <% if ( hasProjectPreviewSettings && typeof project.projectPreview.template !== 'undefined') { %>
        <%- include(project.projectPreview.template); %>
    <%} else if (hasProjectPreviewSettings && project.projectPreview.type === 'external') { %>
        <section class="external-section">
            <a class="external-project-preview" target="_blank" href="<%- project.projectPreview.projectUrl %>"> 
                <img src="<%- project.projectPreview.previewUrl %>">
            </a>
            <div class="about-external-project">
                <h4><%- project.title %></h4>
                <% if (typeof project.description !== 'undefined') { %>
                    <p><%- project.description %></p>
                <%}%>
                <div class="external-project-link">
                    <% if (typeof project.projectPreview.projectUrl !== 'undefined') { %>
                    <a target="_blank" href="<%- project.projectPreview.projectUrl %>">> View Project</a><br>
                    <%}%>
                    <% if (typeof project.projectPreview.codeUrl !== 'undefined') { %>
                        <a target="_blank" href="<%- project.projectPreview.codeUrl %>">> View code on Github</a>
                    <%}%> 
                </div>
            </div>
        </div>
        </section>
    <%} else if (hasProjectPreviewSettings && project.projectPreview.type === 'video') {%>
        <section class="video-section">
            <iframe class="video-iframe" src="<%- project.projectPreview.videoUrl %>?loop=<%- project.projectPreview.videoLoop ? 1 : 0 %>&badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>
            <div class="about-video">
                <% if (typeof project.description !== 'undefined') { %>
                    <p><%- project.description %></p>
                <%}%>
            </div>
        </section>
    <%} else if (hasProjectPreviewSettings && project.projectPreview.type === 'gallery') { %>
        <section class='gallery-section project-section'>
            <div class="about-gallery">
                <% if (typeof project.description !== 'undefined') { %>
                    <h4><%- project.title %></h4>
                    <p><%- project.description %></p>
                <%}%>
            </div>
            <div class="gallery-container masonry-grid">
                <div class="masonry-grid-sizer"></div>
                <% for ( let i = 0; i < project.projectPreview.gallery.length; i++ ){ %>
                    <% let galleryImg = project.projectPreview.gallery[i]; %>
                    <div class="preview-img-container masonry-grid-item">
                        <div class="preview-img">
                            <a target="_blank" href="<%- project.projectPreview.galleryUrl + galleryImg.file %>">
                                <img class="preview-img-png" src="<%- project.projectPreview.galleryUrl + galleryImg.preview %>" />
                            </a>
                        </div>
                    </div>
                <% } %>
            </section>
        <%} else {%>
            <section class="single-image-section project-section">
                <a target="_blank" href="<%- project.imgUrl %>"> 
                    <img class="single-image-preview" src="<%- project.imgUrl %>">
                </a>
                <div class="about-single-image">
                    <% if (typeof project.description !== 'undefined') { %>
                        <p>"<%- project.title %>"<br>
                        <%- project.description %></p>
                    <%}%>
                </div>
            </section>
    <%}%>

</div>

<script src="/js/masonry-init.js"></script>
